.photoSlide{
	height: 100vh;
	width: 100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index: -1;
}
.photoSlide img{
	height: 100%;
	width: 100%;
	position: absolute;
	object-fit: cover;
	
}
.photoSlide img:first-child{

	

}
 .photoSlide img:nth-child(2){

	
	
	opacity: 0;
	animation: slide 4s ease-in infinite;
	
}
 .photoSlide img:nth-child(3){


	opacity: 0;
	animation: slide 8s ease-in infinite;
	animation-delay: 4s;
}


@keyframes slide {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}